@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

video{
    -o-object-fit: cover;
       object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.container{
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 30px 0;
	min-height: 100vh;
}

.text-overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0,0,0,.6)
 } 

 .text{
     position: relative;
     left: 80%;
     top: 50%;
     color: white;
     letter-spacing: 2px;
     transform: translate(-50%,-50%);
 }

 .text p{
     font-size: 3rem;
     white-space: nowrap;
     padding-bottom: 2px;
     margin-top: 30px;
     overflow: hidden;
     transform: translateY(-50%);
     letter-spacing: 2px;
     -webkit-animation: typing 4s steps(40,end), blink-caret .75s step-end infinite;
             animation: typing 4s steps(40,end), blink-caret .75s step-end infinite;
     border-right: .15em solid rgb(0, 238, 255);
 }

 @-webkit-keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 24em;
    }
 }

 @keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 24em;
    }
 }

 @-webkit-keyframes blink-caret{
    from { border-right-color: rgba(225, 225, 225, .75);
 }
 to{ border-right-color: transparent;}
}

 @keyframes blink-caret{
    from { border-right-color: rgba(225, 225, 225, .75);
 }
 to{ border-right-color: transparent;}
}
 .text h1{
     font-size: 6rem;
 }

  button{
  padding: 15px 20px;
  width: 15%;
  border: none;
  height: 5%;
  background: none;
  color: white;
  font-size: 2rem;
}


button:hover{
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

button:focus{
  outline:none;
}

.border-gradient{
  border: 4px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  transition: border-image-source 3s infinite;
}

.border-gradient:hover{
  border-image-source: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

img {
	max-width: 100%;
}

p {
	margin-bottom: 5p}

li {
	margin-bottom: 0;
}

.meal {
	margin: 20px 0;
}

.text-center {
	text-align: center;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 1100px) {
    .text{

        position: relative;
        left: 53%;
        top: 50%;
        color: white;
        letter-spacing: 2px;
        transform: translate(-50%,-50%);
    }

    .text p{
        font-size: 3rem;
    }
    .text h1{
        font-size: 5rem;
    }
   
    .text button{
     font-size: 2rem;
     width: 30%;
   }
}

@media screen and (max-width: 480px) {

	.text{

        position: relative;
        left: 53%;
        top: 50%;
        color: white;
        letter-spacing: 2px;
        transform: translate(-50%,-50%);
    }

    .text p{
        font-size: 1.7rem;
    }
    .text h1{
        font-size: 4rem;
    }
   
    .text button{
     font-size: 1.5rem;
     width: 40%;
   }
}

@media screen and (max-width: 320px) {

	.text{

        position: relative;
        left: 53%;
        top: 50%;
        color: white;
        letter-spacing: 2px;
        transform: translate(-50%,-50%);
    }

    .text p{
        font-size: 1.2rem;
    }
    .text h1{
        font-size: 3rem;
    }
   
    .text button{
     font-size: 1rem;
     width: 45%;
   }
}