@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.text-overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0,0,0,.6)
 } 

 .text{
     position: relative;
     left: 30%;
     top: 50%;
     color: white;
     letter-spacing: 2px;
     /* transform: translate(-50%,-50%); */
 }

 .text p{
     font-size: 5rem;
     white-space: nowrap;
     padding-bottom: 2px;
     margin-top: 5px;
     overflow: hidden;
     word-spacing: 5px;
     transform: translateY(-50%);
     letter-spacing: .15em;
     animation: typing 4s steps(40,end), blink-caret .75s step-end infinite;
     border-right: .15em solid rgb(0, 238, 255);
 }

 @keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 24em;
    }
 }

 @keyframes blink-caret{
    from { border-right-color: rgba(225, 225, 225, .75);
 }
 to{ border-right-color: transparent;}
}
 .text h1{
     font-size: 6rem;
     margin-bottom: 10px;
 }

 .text button{
     border: none;

 }
