@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.text-overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(0,0,0,.6)
 } 

 .text{
     position: relative;
     left: 30%;
     top: 50%;
     color: white;
     letter-spacing: 2px;
     /* transform: translate(-50%,-50%); */
 }

 .text h1{
     font-size: 6rem;
     padding-bottom: 2px;
 }

 .text p{
     font-size: 5rem;
 }

 .text button{
     border: none;
     outl
     ine
 }
