@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 10px;
    font-family: 'Roboto Condensed', sans-serif;
}

video{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.text{
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
    background-color: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,.4));
 } 